body{
    margin: 40 px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    background-color: #fff;
    grid-gap: 10px;
    color: #444;

}
.header{
   
    grid-column: 1/6;
    border: 1px solid black;
    text-align: center;
    grid-gap: 10px;
    padding: 20px;
    align-items: center;
    
}
.box{
    background-color:rgb(54, 126, 220);
    color:#fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 15px;
}


.Article{
    grid-column: 1/4;
    border: 1px solid black;
    text-align: justify;
}
.Aside{
    grid-column: 4/6;
    grid-row: 2/4;
    border-top: 1px solid #ccc; 
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

.Footer{
    grid-column: 1/6;
    border-top: 1px solid #ccc; /* Agrega un borde superior */
    text-align: center;
    padding: 10px;
    color: #fff; /* Cambia el color del texto */
}
.h1{
    text-align: center;
}
.h3{
    text-align: center;
}


.table{
    text-align: center;
    padding: 125px;

}

.image {
    align-items: center;
}

.image img {
    display: block; 
    margin: 0 auto;
}

.carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    overflow: hidden;
  }
  
  .carousel img {
    width: 50%;
    height: auto;
  }
  
  #prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: 20px;
    cursor: pointer;
  }
  
  #prevBtn {
    border-radius: 30px;
    left: 10px;
  }
  
  #nextBtn {
    border-radius: 30px;
    right: 10px;
  }
  
